#div {
    border: 1px solid red;

}

.block {
    border: 1px solid red;
    width: 100px;
    height: 50px;
    margin: 0 auto;
}

.inline {
    border: 1px solid red;

    /* 너비 높이 줄 수 없다 */
    width: 200px;
    height: 50px;

    /* 좌우만 되고 위아래 안됨 */
    margin: 30px 50px;

    /* 좌우만 되고 위아래 안됨. 단, border는 밀어짐 */
    padding: 20px;
    display: block;
}

.bg_blue {
    background-color: blue;
    color: white
}

.parent {
    border: 1px dotted pink;
    /* width: 400px; */
    /* width: 200px; */
    width: 100%;
}

.parent > div {
    border: 1px dashed rgb(125,55,159);
    /* width: 150px; */
    /* width: 40%; */
    width: 300px;
    height: 50px;
    display: inline-block;
    /* inline, inlline-block만 적용 됨 */
    vertical-align: top;
}

.hide {
    display: none;
}

.table .td {
    display: table-cell;
    border: 1px solid red;
    height: 100px;
    width: 200px;
    vertical-align: middle;
}