.parent{
            width: 60px;
            height: 60px;
        }
.rel {
    position: relative;
}
.rel:hover{
    z-index: 999;
}
.z1 {
    background-color: hotpink;
    top: 20px;
    left: 20px;
    z-index: 2;
}
.z2 {
    background-color: brown;
    top: -10px;
    left: -20px;
    z-index: 1;
}
.z3 {
    background-color: blue;
    top: -25px;
    left: 50px;
    z-index: 99;
}

ul.main {
    background-color: yellowgreen;

}

/* ul.sub */
ul.main + ul{
    background-color: coral;
    position: relative;
    top: -16px;
    display: none;
}

ul.main:hover + ul {
  
    display: block;
}
ul.main + ul:hover {
  
    display: block;
}

.c1 {
    position: absolute;
    top: 10px;
    left: 200px;
}
.p1 {
    position: relative;
}

.p2 {
    margin-top: 50px;
    width: 100px;
    height: 100px;
    position: relative;
}
.c2 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc((200px/2) - (100px/2));
    left: calc((200px/2) - (100px/2));
}



